@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.listNav::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  background: white;
  width: 50%;
  height: 1.5px;
  border-radius: 10px;
  transition: all linear;
  transition-duration: 200ms;
}

.listNav:hover::after {
  width: 100%;
  background-color: #6b7280;
}

.ImgCard:hover .ImgTeam {
  height: 6rem;
  background: rgb(0 0 0 / 0.6);
}

.ImgCard:hover Img {
  transform: scale(1.1);
}

.imgAnim {
  animation: imgAnim 3s infinite linear;
}

@keyframes imgAnim {

  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0px);
  }
}

.CardRev:hover .BxImg {
  transform: scale(1.2);
}